<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('include/meta-data') %>
    <link rel="stylesheet" href="Styles/confirm.css">
    <title>confirm</title>
</head>
<body>
    
    <%- include('include/navigation-pane') %>

    <h1 id="main-content">Success!</h1>
    <p> Your Rastaurent details successfully added to our list!
   </p>

</body>
</html>