<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('include/meta-data') %>
    <link rel="stylesheet" href="Styles/index.css">
    <title>EatWell</title>
</head>
<body>
    
    <%- include('include/navigation-pane') %>

    <h1 id="main-content">Make the World a tasier place!</h1>
    <p>Share your favourite retaurent or find recommendation of other users!</p>

    <div id="main-page">
        <h3 id="browse"><a href="/recommended">browse shared restaurents</a></h3>
        <h3 id="share"><a href="/shareRestaurent">share your favourite restaurents</a></h3>

    </div>

</body>
</html>