<div id="navigation-pane">
    <h2><a href="/index">eatwell</a></h2>
    <div id="navigation-list">
        <ul>
            <li class="border"><a href="/recommended">browes restaurants</a></li>
            <li class="border"><a href="/shareRestaurent">share a retaurant</a></li>
            <li><a href="/about">about EatWell</a></li>

        </ul>

    </div>

</div>